.container {
  width: 42px;
  height: 24px;
  border: 1.5px solid #53c28b70;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  position: relative;
  border-radius: 30px;
  cursor: pointer;
}

.icon {
  font-size: 14px;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: aqua;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  transition: all 0.3s ease;
}


