.container{
  justify-content: space-between;
  display: flex;
  height: 100px;
  align-items: center;
}
.logo{
  font-size: 22px;
  font-weight: bold;
}
.links{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout{
  padding: 5px;
  border: none;
  background-color: cadetblue;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 3px;
}